.user__menu__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .user__menu__wrapper {
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .user__menu__wrapper {
    gap: 30px;
  }
}

.user__name {
  color: black;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logout__btn {
  font-weight: 700;
  background-color: orange;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logout__btn:hover,
.logout__btn:focus {
  background-color: black;
  color: orange;
}